.activeLink {
    color: white !important;
}

.activeLink::after {
    display: block;
    content: "";
    position: relative;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 50%; /* or 100px */
    border-bottom: 4px solid #FF00C7;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.2rem;
}