.storyCard:hover {
    box-shadow: 0 16px 32px 0 #141B31;

    h4 {
        text-decoration: underline;
        color: #fff;
    }

    p {
        color: #fff;
    }
}

.textCard:hover {
    h4 {
        text-decoration: underline;
        color: #fff;
    }

    p {
        color: #fff;
    }
}